/* HEADER */
#wrapper{background-color: #143814;}
#toggle {
    display: none;
    background: #353b48;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
#toggle1 {
    background: #353b48;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
#main-menu1{
    background-color: #143814;
    color: white;
    font-size: 20px;
    cursor: pointer; 
}
.header{
    border: 1px solid rgb(86, 65, 65);
    height: fit-content;
    background-color: #143814;
    font-size: 15px;
}
.header ul li
{
    list-style-type: none;
    display: inline;
    margin-left: 105px;
}
#hid ul li{list-style-type: none;}
#hid li{padding-top: 20px;}
.header ul li a:link 
{
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}
#hid ul li a:link 
{
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}           
.header ul li a:visited
{color: #FFF; text-decoration: none;}      
/* #hid ul li a:visited
{
  color: #FFF;
  text-decoration: none;
}       */
.header ul li a:hover{color: black; background-color: #f3fff4;}
#hid ul li a:hover{color: black; background-color: #f3fff4; width: 100%;
}
.container ul, nav{list-style: none; padding: 0;}
.topnav input[type=text] {
    float: right;
    padding: 10px;
    margin-top: 10px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}
a:hover {opacity: 1;}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
}
header nav ul {display: flex;}
a.cart{
    border: 1px solid rgba(213, 201, 201, 0.5);
    padding: 10px;
    margin-right: 10px;
    justify-content: space-between;
}
a.btn {
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid rgba(213, 201, 201, 0.5);
    transition: all 0.2s;
    margin-right: 10px;
 }
a.btn:hover {
    background: #d73851;
    border: 1px solid #d73851;
    color: #fff;
}
.container ul, nav{list-style: none; padding: 0;}

.topnav input[type=text] {
    float: right;
    padding: 10px;
    margin-top: 10px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}   
a:hover {opacity: 1;}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
}
header nav ul {display: flex;}
a.cart{
    border: 1px solid rgba(213, 201, 201, 0.5);
    padding: 10px;
    margin-right: 10px;
    justify-content: space-between;
}
a.account{
    border: 1px solid rgba(213, 201, 201, 0.5);
    padding: 10px;
    margin-right: 10px;
    justify-content: space-between;
}
a.btn{
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid rgba(213, 201, 201, 0.5);
    transition: all 0.2s;
    margin-right: 10px;
}
a.btn:hover {
    background: #d73851;
    border: 1px solid #d73851;
    color: #fff;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 600px) {
    .container-footer{
        display: flex;
        flex-direction: column;
    }
}
/* CSS SET UP */
.search_icon{
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.search_icon input#search{
    width: 30px;
    margin-right: 10px;
    margin-top: -15px;
    padding:  12px;
    background: inherit;
    border: 1px solid rgb(235, 231, 231);
    color: #fcfcfc;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}
.search_icon input#search::-webkit-input-placeholder {color: #b9c0c5;}
.search_icon input#search:-moz-placeholder {color: #b9c0c5;}
.search_icon input#search::-moz-placeholder {color: #b9c0c5; }
.search_icon input#search:-ms-input-placeholder {color: #b9c0c5;}
.search_icon .icon{
    position: absolute;
    padding: 10px;
    z-index: 1;
    color: #000000;
    margin-top: -10px;
}
  
    /* ANIMATION EFFECTS */
.search_icon input#search:focus, .container-2 input#search:active{outline:none;}
.search_icon:hover input#search{outline:none; width: 300px;}
.search_icon:hover .icon{color: #000000;}
#hid nav{
    display: none;
    background-color: #143814;
    color: white;
    font-weight: bold;
}
#hid a{color: white;padding: 20px;}
#toggle1{display: none;}
#main-menu1{
}
@media screen and (max-width: 800px) {
    #main-menu1 {
        flex-direction: column;
        text-align: left;
    }
    #toggle{display: block;}
    nav#hid {
        text-align: left;
        display: flex;
    }
    #main-menu{display: none;}
    nav#header{display: none;}
}
@media screen and (min-width: 800px) {
    #main-menu {
        flex-direction: column;
        text-align: left;
    }
    #toggle{display: block;}
    /* #toggle1{
        display: none;
    } */
    nav#hid {text-align: left;display: flex;}
    #main-menu1{display: none;}
    nav#header{display: flex;flex-direction: column;}
    #toggle{display: none}
}
/* BODY */
.main{
    background-image: url(./img/an\ sach\ 1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.body{width: 1200px;margin: auto;}
.main H1{
    color: #143814;
    border-bottom: 5px solid red;
    width: 100px;
}
.header1 ul{display: block;width: 100%;}
.header1 ul{display: block;width: 100%;}
.gr{
    background-color: #143814;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-size: 20px;
}
ul{margin: 10px;}
.body li{margin: 10px;list-style-type: none;}
.body input{
    background-color: inherit;
    font-size: 20px;
    margin: 5px;
    border-color: black;
}
.border{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
    padding: 20px;
    font-size: 20px;
    text-align: justify; 
}
/* CSS FOOTER */
.container-footer{
    display: flex;
    width: 100%;
    height: max-content;
    background-color: #143814;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.footer{margin-left: 10px;}
.footer:nth-child(1){flex: 1;}
.footer:nth-child(2){flex: 1;}
.footer:nth-child(3){flex: 1;}
.footer:nth-child(4){flex: 1;}
.footer p{margin: 0;}
/* Mobile: width < 740px */
@media only screen and (max-width: 600px) {
    .container{display: inline;}
    .container-footer{display: flex;flex-direction: column;}
}
